.Movie {
    width: 20%;
    height: 450px;
    margin-bottom: 3%;
    border-radius: 4px;
    display: inline-block;
    margin-left: 4%;
    background-color: white;
    opacity: 0.9;
    vertical-align: top;
  }

  .Movie a{
    text-decoration: none;
    vertical-align: middle;
  }
  
  .Movie img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .MovieTitle{
    margin-bottom: 0.5%;
    vertical-align: middle;
    margin-top: 0%;
    text-align: center;
    font-size: 2em;
    font-style: bold ;
    height: 135px;
  }
  .Movie:hover{
    transform: scale(1.2);
    
  }